/*------------알람리스트-------------*/
.mateAlarmModal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 63%;
    top: 12.8%;
    width: 40%;
    background-color: transparent;

}

/*알람 모달창 텍스트 넣는 부분*/
.mateAlarmModal-content {
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #FFFFFF;
    width: 65%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/*알람창 알람 글자*/
.alarmModalAlarmLetter {
    text-align: center;
    font-weight: bold;
    display: inline-block;
    width: 95%;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 10px;
}

/*알람창 닫기 버튼*/
.mateAlarmListClose, .mateRealTimeAlarmListClose {
    float: right;
    cursor: pointer;
    margin-right: 7px;
}

/*알람모달창 ul*/
.mateAlarmUl {
    margin-top: 10px;
    list-style-type: none;
    margin-left: -20px;
}

/*알람모달창 li*/
.mateAlarmListLi {
    margin-top: 10px;
    margin-bottom: 3px;
}

.spanAlarmList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

/*
#alarmBell {
    background: red;
    width: 12px;
    height:12px;
    border-radius: 12px;
    top:3%;
    right:13%;
    color: #fff;
    padding-bottom: 1px;
    font-size: 12px;
    position: relative;
    z-index: 9999999;
}*/


/*------------ 실시간 알람 -------------*/

.mateRealTimeAlarmModal {
    display: none;
    position: fixed;
    z-index: 999;
    right: 2%;
    bottom: 5%;
    width: 30%;
    height: 60%;
    background-color: transparent;
}


.mateRealTimeAlarmLi {
    display: flex;
    justify-content: space-between;
    z-index: 9999999;
    bottom: 3%;
    width: 100%;
    height: 15%;
    background-color: #ff7369;
    opacity: 60%;
    color: #fff;
    border-radius: 7px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    padding: 5% 5%;
    margin-bottom: 5px;
    transition: transform 0.3s ease;
    font-size: 14px;
}

.mateRealTimeAlarmLi.added {
    transform: scale(1.1); /* 항목 추가 시 크기 확대 애니메이션 */
}

#mateRealTimeAlarmUl {
    display: flex;
    flex-direction: column-reverse;
    list-style-type: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.mateRealTimeAlarmModal-content {
    width: 100%;
}