.mateInsertContainer {
    width: 70%;
    margin-top: 3%;
    margin-bottom: 5%;
    padding: 2% 2%;
    border-radius: 12px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}

.mateInsertTitle {
    margin-top: 1%;
    font-weight: bold;
    padding-left: 1.7%;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
    font-size: 29px;
}

.mateBoardTitleInput {
    height: 40px;
    margin-bottom: 5%;
}

.mateBoardContentInput {
    margin-bottom: 10%;
}

/* 동행게시판 insert,update 이미지업로드 */
.image-container {
    padding: 0.5% 0.5%;
    cursor: pointer;
    margin-bottom: 2%;
}


#imageInput {
    display: none;
}


/* 동행 게시판 insert, update */
.mateInput {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 17px;
    height: 30px;
}

.mateInput:focus {
    outline: none;
    border-color: #FF5A46; /* Changed to orange color */
    box-shadow: 0px 0px 1px rgba(231, 76, 60, 0.5);
}

.recruitNum, .isFinish {
    color: #505050;
    border-radius: 5px;
    font-size: 17px;
    margin-left: 10px;
    height: 27px;
    width: 130px;
}


.mateOption {
    display: inline-block;
    text-align: left;
    padding-left: 15px;
    width: 170px;
    color: rgba(30, 50, 30, 0.7);
    font-size: 17px;
    font-weight: 550;
}

.mateOption2 {
    display: inline-block;
    width: 120px;
    color: rgba(30, 50, 30, 0.7);
    font-size: 17px;
    font-weight: 550;
}

.form-input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 17px;
}

.form-container {
    margin-top: 1%;
    margin-bottom: 4%;
    padding-left: 10px;
    padding-right: 10px;
}

.form-input:focus {
    outline: none;
    border-color: #FF5A46; /* Changed to orange color */
    box-shadow: 0px 0px 1px rgba(231, 76, 60, 0.5);
}

.form-input-title {
    height: 40px;
}

.form-input-content {
    resize: none;
    height: 200px;
}

.mateDates1 {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}

.mateDates2 {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.mateDateInput {
    width: 40%;
    height: 35px;
    margin: 5px 6px;
}


.mateDateInput::before {
    content: attr(data-placeholder);
    display: none;

}

.mateDateInput:focus::before,
.mateDateInput:valid::before {
    display: none;
}

.mateCheckBox {
    display: none;
    padding: 5px 5px;
}

.mateCheckBox + label {
    margin-left: 3px;
    cursor: pointer;
    height: 40px;
    width: 85px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    background-color: #ffffff;
    border-radius: 13px;
    color: rgba(0, 0, 0, 0.3);
}

.mateCheckBox:checked + label {
    /*background-color: #FF5A46;*/
    color: rgba(255, 115, 94, 0.9);
    font-size: 18px;
}

.mateButtons {
    margin-top: 5%;
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    justify-content: space-between;
}

.mateRadio {
    display: none;
    padding: 5px 5px;
}

.mateRadio[name="genders"] + label {
    margin: 5px;
    cursor: pointer;
    height: 50px;
    width: 100px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    background-color: #ffffff;
    border-radius: inherit;
    color: #FF5A46;
    border-radius: 10px;
}

.mateRadio[name="gender"] + label {
    margin: 5px;
    cursor: pointer;
    height: 40px;
    width: 100px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    background-color: #ffffff;
    border-radius: inherit;
    color: #a8a8a8;
    border-radius: 10px;
}

.mateRadio:checked + label {
    color: rgba(255, 115, 94, 0.9);
    font-size: 18px;
}

.mateRadio[name="regionId"] + label {
    padding: 3px 3px;
    cursor: pointer;
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    background-color: #ffffff;
    border-radius: inherit;
    color: #a8a8a8;
    border-radius: 10px;
}

.mateRadio[name="regionId"]:checked + label {
    color: rgba(255, 115, 94, 0.9);
    font-size: 18px;
}

.mateButton {
    text-align: center;
    width: 48%;
}


/* mate 업데이트 */
.numDate, .insertWantAgeRange {
    display: flex;
    margin-top: 0.5%;
    justify-content: space-between;
    align-items: center;
}

.mateRegion {
    display: flex;
    justify-content: space-between;
    padding-bottom: 7px;
}


.genderRecruitNum {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0px;
}

.wantAgeRange {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0px;
}

.wantCondition {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.1%;
}

.mateFileInput {
    display: none;
}

.uploadYourImage {
    margin: 0.5%;
    height: 400px;
    background-color: rgba(163, 163, 163, 0.2);
    color: rgba(163, 163, 163, 0.7);
    text-align: center;
    align-content: center;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
    object-fit: cover;
}

#upldimg {
    object-fit: cover;
}

.mateBoardEmptyWarning {
    text-align: left;
    font-size: 14px;
    color: red;
    margin-bottom: 5px;
    display: none;
}

/* mate selectOne */
.mateBoardUpdateDeleteButton {
    border: 0;
    background-color: transparent;
    color: #b5b5b5;
}

.mateUserDetails {
    width: 700px;
}

.mateModalButton {
    width: 45%;
}

.mateApplyCheckButton {
    width: 200px;
}

#map-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* 상단 정렬을 위해 align-items 값을 변경 */
}

#map {
  width: 80%;
  height: 350px;
}