.regionBtn-container {
    display: flex;
        flex-wrap: nowrap;
        gap: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
        width: calc(80%);
        margin-left: 150px;
        display: none;
}

.mate-search-select{
    width:30vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right:10px;
}

.mate-search-text{
    width:50vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin:10px;
}


/* input-group 내 요소 중앙 정렬 */
.mate-search-group {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.regionBtn {
    width: calc(9% - 10px);  /* 버튼 너비 계산 */
    margin-bottom: 20px;
}

.ageBtn-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: calc(80%);
    margin-left: 150px;
    display: none;
}

.ageBtn {
    width: 100px;
    height: 30px;
    /* 나머지 스타일링 속성 추가 */
}

/* styles.css */
#viewCount {
    width: 100px;
    margin-left: 150px;
    margin-top: 30px;
}



#viewCount {
    display: none;
}

/* 검색 필터 버튼을 클릭했을 때 #viewCount를 보이게 하는 스타일 */
#viewCount.show {
    display: block;
}

/* styles.css */
.mate-post-card {
    flex: 0 0 calc(33.333% - 20px); /* 각 포스트 카드의 폭을 33.333%로 설정하고 간격을 고려하여 계산합니다. */
    margin: 20px; /* 포스트 카드 사이 간격 조정 */
}

/* .card 내부의 이미지에 스타일 적용 */
.mate-post-card .card-img-top {
    max-height: 200px; /* 이미지 최대 높이 조정 */
    object-fit: cover; /* 이미지 비율 유지하면서 최대 크기로 조정 */
}

/* .card 내부의 제목에 스타일 적용 */
.mate-post-card .post-title {
    font-size: 1.25rem; /* 제목 폰트 크기 조정 */
    margin: 10px 0; /* 제목 위아래 간격 조정 */
}

/* styles.css */
.mate-list-image-container {
    width: 100%;
        max-width: 100%;
        height: 0;
        padding-bottom: 56.25%; /* 16:9 비율에 해당하는 값 (9 / 16 * 100) */
        overflow: hidden;
        position: relative;
}

.mate-list-image-container img {
    position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
}

.mate-post-item {
    width: 100%; /* 게시물 아이템의 너비를 조절해주세요 */
    margin-bottom: 40px; /* 아이템 사이의 간격 설정 */
}

.mate-comment-content{
   height: 150px;
   width: 1000px;
}

.mate-comment-container {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}

.mate-application-Btn{
  margin-top: 10px;
}

.mate-list-title{
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
}

.mate-comment-submit{
 margin-top:5px;
 margin-right: 30px;
}

.mate-list-card-footer{
font-size: 10px;
}

.mate-pagination{
  display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}

.mate-list-insert-btn {
    margin-left:1110px;
}

.mate-list-one{
  font-size: 13px !important;
}

#clc{
    margin-left:35px;
}

#result{
   margin:37px;
}

.back-mate-list{
 width: 150px;
 margin-left:890px;
}

.top-ten{
margin-bottom:40px;
}