.btn-custom1 {
    background-color: #FF5A46;
    border-color: #FF5A46;
    color: #fff !important
}

.btn-custom2 {
    background-color: #ffe0b5;
    border-color: #ffe0b5;
    color: #000 !important
}

.custom-a:link, .custom-a:visited {
    color: #FF5A46;
    text-decoration: none;
}
.custom-a:link:active, .custom-a:visited:active {
    color: #FF5A46;
}

.unordered-list {
    padding-left: 0;
    list-style: none
}

/*안전 정보*/
#safety-table th,
#safety-table td {
    text-align: left;
}

/*항공권 검색*/
input #depDate .custom-flight-form {
    display: flex;
    width: 47%;
    padding: .6rem 1rem;
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.7;
    color: #60697b;
    background-color: #fefefe;
    background-clip: padding-box;
    border: 1px solid rgba(8, 60, 130, 0.15);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .4rem;
    box-shadow: 0 0 1.25rem rgba(30, 34, 40, .04);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

/*여행지 검색*/
.custom-form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: .6rem 1rem;
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.7;
    color: #60697b;
    background-color: #fefefe;
    background-clip: padding-box;
    border: 1px solid rgba(8, 60, 130, 0.15);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .4rem;
    box-shadow: 0 0 1.25rem rgba(30, 34, 40, .04);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.custom-form-container-for-plan {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: .4rem 1rem;
    font-size: .65rem !important;
    font-weight: 400;
    line-height: 1.7;
    color: #60697b;
    background-color: #fefefe;
    background-clip: padding-box;
    border: 1px solid rgba(8, 60, 130, 0.15);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .4rem;
    box-shadow: 0 0 1.25rem rgba(30, 34, 40, .04);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.custom-form-control {
    display: flex;
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.7;
    color: #60697b;
    background-color: #fefefe;
    background-clip: padding-box;
    border: 1px solid rgba(8, 60, 130, 0.15);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .4rem;
    box-shadow: 0 0 1.25rem rgba(30, 34, 40, .04);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.form-control {
    display: block;
    width: 100%;
    padding: .6rem 1rem;
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.7;
    color: #60697b;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: 1px solid rgba(8, 60, 130, .15) !important;
    border-radius: .4rem;
    box-shadow: 0 0 1.25rem rgba(30, 34, 40, .04);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.custom-card {
    --bs-card-spacer-y: 2rem;
    --bs-card-spacer-x: 2rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 1px;
    --bs-card-border-color: rgba(164, 174, 198, 0.15);
    --bs-card-border-radius: 0.4rem;
    --bs-card-inner-border-radius: 0.4rem;
    --bs-card-cap-padding-y: 0.9rem;
    --bs-card-cap-padding-x: 2rem;
    --bs-card-cap-bg: transparent;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: 1px solid rgba(8, 60, 130, 0.15);
    border-radius: var(--bs-card-border-radius);
    box-shadow: var(--bs-card-box-shadow)
}

.custom-card-for-plan {
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 1px;
    --bs-card-border-color: rgba(164, 174, 198, 0.15);
    --bs-card-border-radius: 0.4rem;
    --bs-card-inner-border-radius: 0.4rem;
    --bs-card-cap-padding-y: 0.9rem;
    --bs-card-cap-padding-x: 2rem;
    --bs-card-cap-bg: transparent;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: 1px solid rgba(8, 60, 130, 0.15);
    border-radius: var(--bs-card-border-radius);
    box-shadow: var(--bs-card-box-shadow)
}

.custom-card-body {
    flex: 1 1 20%;
    padding: 1.3rem 1.1rem 1rem 1.1rem;
    color: var(--bs-card-color);
}

.custom-card-body-for-plan-list {
    flex: 1 1 auto;
    padding: 1rem 1rem !important;
    color: var(--bs-card-color);
}

.custom-card-body-for-plan-spot {
    flex: 1 1 20%;
    padding: 1rem 0.8rem;
    color: var(--bs-card-color);
}

.card-body-for-plan-flight {
    flex: 1 1 auto;
    padding: 0 1.1rem 1.5rem 1.1rem;
    color: var(--bs-card-color);
}

.card-body-for-plan-flight-search {
    flex: 1 1 auto;
    padding: 1.5rem 1rem;
    color: var(--bs-card-color);
    font-size: 0.8rem;
}

.custom-col-3 {
    flex: 0 0 auto;
    width: 23.3%
}

.custom-col-for-plan {
    flex: 0 0 auto;
    width: 48%
}

.custom-card-img {
    width: 100%;
    height: 120px;
}

.custom-btn-sm {
    --bs-btn-padding-y: 0.2rem;
    --bs-btn-padding-x: 0.3rem;
    --bs-btn-font-size: 0.7rem;
    --bs-btn-border-radius: 0.4rem
}


/*여행지 상세 - navbar*/
.custom-nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 1.2rem;
    --bs-nav-link-font-size: 0.8rem;
    --bs-nav-link-font-weight: 700;
    --bs-nav-link-color: #343f52;
    --bs-nav-link-hover-color: #FF5A46;
    --bs-nav-link-disabled-color: #959ca9;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.custom-nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    transition: color .2s ease-in-out
}

.custom-nav-tabs .custom-nav-link {
    background: #fff;
    transition: all .2s ease-in-out;
    font-size: .85rem;
    padding: .6rem 1.3rem
}

.custom-nav-tabs .custom-nav-link i {
    font-size: 1rem
}

.custom-nav-tabs.custom-nav-tabs-basic {
    border-color: transparent
}

.custom-nav-tabs.custom-nav-tabs-basic .custom-nav-link {
    border: 0;
    border-radius: 0;
    border-color: transparent;
    background: 0 0;
    font-size: .85rem;
    padding: .6rem 0;
    margin-right: 1rem;
    border-bottom: 2px solid rgba(164, 174, 198, .25)
}

.custom-nav-tabs.custom-nav-tabs-basic .custom-nav-link:focus, .custom-nav-tabs.custom-nav-tabs-basic .custom-nav-link:hover {
    border-color: #FF5A46
}

.custom-nav-tabs.custom-nav-tabs-basic .custom-nav-item.show .custom-nav-link, .custom-nav-tabs.custom-nav-tabs-basic .custom-nav-link.active {
    color: #FF5A46;
    border-color: #FF5A46
}

.custom-nav-link:focus, .custom-nav-link:hover {
    color: var(--bs-nav-link-hover-color)
}


.custom-nav-tabs {
    --bs-nav-tabs-border-width: 1px;
    --bs-nav-tabs-border-color: rgba(164, 174, 198, 0.15);
    --bs-nav-tabs-border-radius: 0.4rem;
    --bs-nav-tabs-link-hover-border-color: transparent;
    --bs-nav-tabs-link-active-color: #FF5A46;
    --bs-nav-tabs-link-active-bg: #fff;
    --bs-nav-tabs-link-active-border-color: rgba(164, 174, 198, 0.15);
    border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color)
}

.custom-nav-tabs .custom-nav-link {
    margin-bottom: calc(-1 * var(--bs-nav-tabs-border-width));
    background: 0 0;
    border: var(--bs-nav-tabs-border-width) solid transparent;
    border-top-left-radius: var(--bs-nav-tabs-border-radius);
    border-top-right-radius: var(--bs-nav-tabs-border-radius)
}

.custom-nav-tabs .custom-nav-link:focus, .custom-nav-tabs .custom-nav-link:hover {
    isolation: isolate;
    border-color: var(--bs-nav-tabs-link-hover-border-color)
}

.custom-nav-tabs .nav-link.disabled, .custom-nav-tabs .custom-nav-link:disabled {
    color: var(--bs-nav-link-disabled-color);
    background-color: transparent;
    border-color: transparent
}

.custom-nav-tabs .custom-nav-item.show .custom-nav-link, .custom-nav-tabs .custom-nav-link.active {
    color: var(--bs-nav-tabs-link-active-color);
    background-color: var(--bs-nav-tabs-link-active-bg);
    border-color: var(--bs-nav-tabs-link-active-border-color)
}

/*숙소 목록*/
.accommodation-card {
    background-color: white;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
}

.left-aligned {
    text-align: left;
}

.custom-col-5 {
    flex: 0 0 auto;
    width: 44.3%
}