.imgs_wrap {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 10px;
}

.imgs_wrap img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    aspect-ratio: 1/1; /* 가로 세로 비율을 1:1로 설정합니다. */
}

/*지도*/
#map-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* 상단 정렬을 위해 align-items 값을 변경 */
}

#map {
  width: 80%;
  height: 350px;
}

/*mylist 버튼*/
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px; /* 상단 여백 조정 */
    height: 50vh; /* 화면 높이에 맞추기 위해 설정 (선택 사항) */
    margin-bottom: 30px; /* 하단 여백 조정 */
  }

  .buttons .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* 요소가 너무 많으면 여러 줄로 나눠줌 */
  }

  .buttons .btn,
  .buttons select {
    margin: 0 100px; /* 버튼 사이의 간격 조정 */
  }


  /*feed 섹션*/
.feed-header {
    margin-bottom: 300px; /* 원하는 간격으로 조정 */
    background-color: red;
  }