.imgs_wrap {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 10px;
}

.imgs_wrap img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    aspect-ratio: 1/1; /* 가로 세로 비율을 1:1로 설정합니다. */
}

/* 지도 컨테이너 스타일 */
#map-container {
  position: relative;
  padding-bottom: 35.75%; /* 7을 16로 나눈 비율을 사용합니다 */
  overflow: hidden; /* 내용이 넘치지 않도록 합니다 */
  border-radius: 30px; /* 가장자리를 둥글게 만듭니다 */
}

/* 실제 지도 스타일 */
#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*피드리스트*/
.wrapper-record {
    margin-top : 300px;
}


/*피드리스트 좋아요 버튼*/
.btn.btn-lg.btn-primary.rounded-pill.like-button {
     button-size: 5px; /* 원하는 크기로 조정하세요. */
     padding: 5px 10px; /* 원하는 크기로 조정하세요. */
 }

.col-lg-9-record-like-button {
    display: flex;
    justify-content: flex-end;
}

/* 피드 지역 버튼들 */
.col-lg-9-record-location-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.col-lg-9-record-location-buttons button:first-child {
    margin-right: auto;
}


.col-lg-9-record-location-buttons button:last-child {
    margin-left: auto;
}


.col-lg-9-record-location-buttons button:not(:first-child):not(:last-child) {
    margin-left: 10px; /* 원하는 간격으로 조정하세요. */
}




