<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="accommodation">
    <select id="one" parameterType="Long" resultType="AccommodationDTO">
        select * from accommodation
        where accommodation_id = #{accommodationId}
    </select>
    <select id="count" parameterType="Long" resultType="int">
        select count(accommodation_id) from accommodation
        where accommodation_id = ${accommodationId}
    </select>
    <select id="all" resultType="AccommodationDTO">
        select * from accommodation
    </select>
    <select id="filterByAddress" resultType="AccommodationDTO">
        select * from accommodation
        WHERE address_name LIKE CONCAT('%', #{addressName}, '%')
    </select>

    <select id="filterByPlaceName" resultType="AccommodationDTO">
        select * from accommodation
        where place_name LIKE CONCAT('%', #{placeName}, '%')
    </select>

    <select id="filterByAddressAndPlaceName" resultType="AccommodationDTO">
        select * from accommodation
        where address_name LIKE CONCAT('%', #{addressName}, '%')
          and place_name LIKE CONCAT('%', #{placeName}, '%')
    </select>

    <select id="filterByCategory" resultType="AccommodationDTO">
        select * from accommodation
        WHERE category_name LIKE CONCAT(#{categoryName}, '%')
    </select>

    <select id="filterByAddressAndCategoryName" resultType="AccommodationDTO">
        select * from accommodation
        where address_name LIKE CONCAT('%', #{addressName}, '%')
          and category_name LIKE CONCAT(#{categoryName}, '%')
    </select>

 <!--   <select id="filterByPlaceNameAndCategoryName" resultType="AccommodationDTO">
        select * from accommodation
        where place_name LIKE CONCAT('%', #{placeName}, '%')
          and category_name LIKE CONCAT(#{categoryName}, '%')
    </select>

    <select id="filterByCategoryAndPlaceNameAndAddress" resultType="AccommodationDTO">
        SELECT * FROM accommodation
        where address_name LIKE CONCAT('%', #{addressName}, '%')
          and category_name LIKE CONCAT('%', #{categoryName}, '%')
          and place_name LIKE CONCAT('%', #{placeName}, '%')
    </select>-->


</mapper>
