<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mate">
    <insert id="insert" parameterType="mateBoardInsertDTO">
        insert into mate_board (user_id, region_id, age_range_id, title, content, thumbnail, start_date,
                                end_date, recruit_number, gender)
        values (#{userId}, #{regionId}, #{ageRangeId}, #{title}, #{content}, #{thumbnail}, #{startDate}, #{endDate},
                #{recruitNumber}, #{gender, typeHandler = org.apache.ibatis.type.EnumOrdinalTypeHandler})
    </insert>

    <!--<select id="selectAll" resultType="mateBoardInsertDTO">
SELECT FROM mate_board
userId, regionId, ageRangeId, title, content, thumbnale, startDate,
endDate,recruitNumber, gender, createdAt, updatedAt, isFinish
    </select>-->
</mapper>











