<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mate">
    <insert id="insert" parameterType="mateBoardInsertDTO">
        insert into mate_board (user_id, region_id, age_range_id, title, content, thumbnail, start_date,
                                end_date, recruit_number, gender)
        values (#{userId}, #{regionId},
                #{ageRangeId},
                #{title}, #{content}, #{thumbnail}, #{startDate}, #{endDate},
                #{recruitNumber}, #{gender})
    </insert>

    <select id="selectOne" parameterType="int" resultType="mateBoardInsertDTO">
        SELECT user_id        as userId,
               region_id      as regionId,
               age_range_id   as ageRangeId,
               title,
               content,
               thumbnail,
               start_date     as startDate,
               end_date       as endDate,
               recruit_number as recruitNumber,
               gender,
               created_at     as createdAt,
               updated_at     as updatedAt,
               is_finish      as isFinish
        FROM mate_board
        where id = #{id}
    </select>
</mapper>











