<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="plan">
	<insert id="insert" parameterType="planDTO"
			useGeneratedKeys="true"
			keyProperty="plan_id">
		insert into plan (user_id, title, start_date, end_date, memo, created_at, updated_at)
		values (#{userId}, #{title}, #{startDate}, #{endDate}, #{memo}, now(), now())
	</insert>
	<update id="update" parameterType="PlanDTO">
		update plan
		set title = #{title}, start_date = #{startDate}, end_date = #{endDate}, memo = #{memo}, updated_at = now()
		where plan_id = #{planId} and user_id = #{userId}
	</update>
	<select id="one" parameterType="hashmap" resultType="PlanDTO">
		select
		    plan_id,
		    user_id,
		    title,
		    start_date,
		    end_date,
		    memo,
		    created_at,
		    updated_at
		from plan
		where plan_id = #{planId} and user_id = #{userId}
	</select>
	<select id="count" parameterType="Long" resultType="int">
		select count(plan_id) from plan
		where user_id = ${userId}
	</select>
	<select id="all" parameterType="hashmap" resultType="PlanDTO">
		select
			plan_id,
			user_id,
			title,
			start_date,
			end_date,
			memo,
			created_at,
			updated_at
		from plan
		where user_id = ${userId}
		order by created_at desc
	</select>
	<delete id="delete" parameterType="hashmap">
		delete from plan
		where plan_id = #{planId} and user_id = #{userId}
	</delete>
</mapper>