<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="plan">
	<insert id="insert" parameterType="PlanDTO"
			useGeneratedKeys="true"
			keyProperty="id">
		insert into plan
		values (null, #{userId}, #{title}, #{startDate}, #{endDate}, #{memo}, now(), now())
	</insert>
	<update id="update" parameterType="PlanDTO">
		update plan
		set title = #{title}, start_date = #{startDate}, end_date = #{endDate}, memo = #{memo}, updated_at = now()
		where id = #{id}
	</update>
	<select id="one" parameterType="Long" resultType="PlanDTO">
		select
		    id,
		    user_id,
		    title,
		    start_date,
		    end_date,
		    memo,
		    created_at,
		    updated_at
		from plan
		where id = #{id}
	</select>
	<select id="count" parameterType="Long" resultType="int">
		select count(id) from plan
		where user_id = ${userId}
	</select>
	<select id="all" resultType="PlanDTO">
		select
			id,
			user_id,
			title,
			start_date,
			end_date,
			memo,
			created_at,
			updated_at
		from plan
	</select>
	<delete id="delete" parameterType="PlanDTO">
		delete from plan
		where id = #{id}
	</delete>
</mapper>