<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="record">
	<insert id="createPost" parameterType="createPostDTO" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO record_board (user_id, location_id, title, content, is_visible, thumbnail)
		VALUES (#{userId}, #{locationId}, #{title}, #{content}, #{isVisible}, #{thumbnail});
	</insert>

	<select id="selectMyPostInfo" parameterType="postInfoDTO" resultType="postInfoDTO" >
		SELECT
		rb.id AS boardId,
		loc.city As city,
		u.nickname AS nickName,
		rb.title AS title,
		ri.img_url AS imgUrl,
		rc.content AS comment,
		rb.thumbnail AS thumbnail ,
		rb.created_at AS createdAt,
		rb.updated_at AS updatedAt,
		COUNT(rl.id) AS likeCount,
		u2.nickname AS cmtUserNickName,
		rc.content AS cmtComtent,
		rc.comment_sequence AS cmtSequence,
		rc.comments_sequence AS cmtsSquence,
		rc.indentation_number AS indentationNum,
		rc.created_at AS cmtCreatedAt,
		rc.updated_at AS cmtUpdatedAt
		FROM
		record_board rb
		LEFT JOIN user u ON rb.user_id = u.id
		LEFT JOIN location loc ON rb.location_id = loc.id
		LEFT JOIN record_like rl ON rb.id = rl.record_id
		LEFT JOIN record_comment rc ON rb.id = rc.record_id
		LEFT JOIN record_img ri ON rb.id = ri.record_id
		LEFT JOIN user u2 ON rc.comment_writer_id = u2.id
		WHERE
		rb.id = #{id}
		GROUP BY
		rb.id, rc.id, ri.id;
	</select>

	<select id="selectLocationIdByCity" parameterType="String" resultType="int">
		SELECT id FROM location WHERE city = #{city}
	</select>
</mapper>











