<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spot">
	<insert id="insert" parameterType="SpotDTO"
			useGeneratedKeys="true"
			keyProperty="id">
		insert into spot
		values (null, #{contentId}, #{contentTypeId}, #{title}, #{tel}, #{image}, #{homepage}, #{address}
		,#{mapX}, #{mapY}, #{areaCode}, #{sigunguCode}, #{overview}, #{infoCenter}, #{openDate}, #{restDate}, #{expguide},
		#{usetime}, #{parking})
		on duplicate key update content_id = #{contentId}
	</insert>
	<update id="update" parameterType="SpotDTO">
		update spot
		set homepage = #{homepage}, overview = #{overview}, info_center = #{infoCenter}, open_date = #{openDate}, rest_date = #{restDate}, exp_guide = #{expguide},
			usetime = #{usetime}, parking = #{parking}
		where content_id = #{contentId}
	</update>
	<select id="one" parameterType="String" resultType="SpotDTO">
		select * from spot
		where content_id = #{contentId}
	</select>
	<select id="areaList" parameterType="String" resultType="SpotDTO">
		select * from spot
		where areacode = #{areaCode};
	</select>
	<select id="keywordList" parameterType="String" resultType="SpotDTO">
		select * from spot
		where title LIKE CONCAT('%', #{keyword}, '%')
	</select>
	<select id="all" resultType="SpotDTO">
		select * from spot
	</select>
	<select id="count" parameterType="String" resultType="int">
		select count(*) from spot
		where title LIKE CONCAT('%', #{keyword}, '%')
	</select>

</mapper>