<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">
    <select id="findIdByProviderAndSocialID" resultType="Long">
        select id
        from user
        where provider = #{provider} and social_id= #{socialId}
    </select>
    <insert id="insertMemberByAuth" parameterType="userInsertDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (
            provider, social_id,nickname,profile_image,gender,age_range_id,email,
            access_token,expires_at,refresh_token,refresh_token_expires_at,created_at
        ) VALUES (
            #{provider},#{socialId},#{nickName},#{profileImage},#{gender},#{ageRangeId},#{email},
            #{accessToken},#{expiresAt},#{refreshToken},#{refreshTokenExpiresAt},#{createdAt}
        )
    </insert>
    <update id="updateMemberByAuth" parameterType="UserInsertDTO">
        UPDATE user
        SET
            nickName = #{nickName},
            profile_image = #{profileImage},
            age_range_id = #{ageRangeId},
            gender = #{gender},
            email = #{email},
            access_token = #{accessToken},
            expires_at = #{expiresAt},
            refresh_token = #{refreshToken},
            refresh_token_expires_at = #{refreshTokenExpiresAt},
            created_at = #{createdAt}
        WHERE id = #{id}
    </update>
    <select id="userInfobyUpdated" resultType="userInsertDTO">
        SELECT * FROM user WHERE id = #{id}
    </select>
    <select id="userProvider" resultType="String">
        SELECT provider FROM user WHERE id = #{id}
    </select>
    <update id="userAccessTokenRemove" parameterType="Long">
        update user
        set
            access_token = null,
            expires_at = null,
            refresh_token = null,
            refresh_token_expires_at = null
        where id=#{id}
    </update>
    <select id="findProviderAndSocialIDById" resultType="withDrawUserDTO">
        select id, provider, social_id as socialId, access_token as accessToken, expires_at as expiresAt
        from user
        where id=#{id}
    </select>
    <delete id="deleteUserById">
        delete from user where id=#{id}
    </delete>
</mapper>











